.bak
.dev
.vscode/*
backend/config/*
db/data/*
dist/*
dist-ssr
frontend/public/*
node_modules
logs/backend/*
logs/db/*
logs/frontend/*
logs/fs/*
logs/nginx/*
logs/sysd/*
logs/vault/*
secrets/approle/*
secrets/tmp/*
tls
vault/data/*

notify-discord.sh

.env
.vault-root-token
usk.json

*.asc
*.env
*.local
*.log
