/* File: frontend/src/styles/index.css */

@import './globals.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light dark;
		color: rgba(255, 255, 255, 0.87);
		background-color: #141414;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		@apply m-0 p-0 text-[#c3f4f5] overflow-hidden;
		background: radial-gradient(circle at center, #181818, #0f0f0f);
		font-family: 'Arial', sans-serif;
	}

	html,
	body,
	#root {
		@apply h-screen w-screen m-0 p-0 flex items-center justify-center overflow-hidden;
	}

	a {
		@apply font-medium text-[#646cff] no-underline;
	}

	a:hover {
		@apply text-[#535bf2];
	}

	h1 {
		@apply text-[2.5rem] mb-4 text-center w-full;
		text-shadow: 0 0 8px rgba(161, 234, 251, 0.7);
	}
}
